$base-color-light: white;
$base-color-dark: rgb(46, 41, 41);


$main-color-one: rgb(116, 116, 221);
$main-color-one_opacity: rgba(116, 116, 221, .3);

$main-color-two: rgb(211, 245, 179);
$main-color-two_opacity: rgba(211, 245, 179, .3);
$main-color-two_hover: rgb(166, 223, 112);

$main-color-three: rgb(245, 245, 71);
