:root,
:root.light {
  --base-color: black;
  --base-color-bg: white;

  --main-color-one: rgb(116, 116, 221);
  --main-color-one_opacity: rgba(116, 116, 221, .3);

  --main-color-two: rgb(211, 245, 179);
  --main-color-two_opacity: rgba(211, 245, 179, .3);
  --main-color-two_hover: rgb(166, 223, 112);

  --main-color-three: rgb(245, 245, 71);

  --main-color-four: rgb(245, 245, 71);
  
  --main-color-five: red;
  --main-color-five_hover: rgb(190, 125, 125);

  --main-color-six: black;

  --title: rgb(166, 223, 112);

  --modal-overlay: rgba(0,0,0 , .3);
}
 
:root.dark {
  --base-color: rgb(113, 212, 230);
  --base-color-bg: #424242;  
  
  --main-color-one: #45ADFE;
  --main-color-one_opacity: rgba(57, 115, 240, 0.3);

  --main-color-two: #212121;
  --main-color-two_opacity: rgba(192, 235, 37, 0.3);
  --main-color-two_hover: rgb(67, 94, 43);

  --main-color-three: rgb(177, 23, 169);

  --main-color-four: rgb(173, 167, 167);

  --main-color-five: red;
  --main-color-five_hover: rgb(190, 125, 125);

  --main-color-six: rgb(48, 25, 25);

  --title: #97b0c4;

  --modal-overlay: rgba(113, 212, 230, .3);
}
