.projects {
  padding: 10% 20px;

  .projects__container {
    .projects__title {
      text-align: center;
      margin-bottom: 70px;
      font-size: 3.5rem;
      letter-spacing: 5px;
      color: var(--main-color-two);
      text-shadow: 1px 1px 2px var(--main-color-five), 0 0 0.2em var(--main-color-one);

      @media (max-width: 1200px) {
        margin-bottom: 50px;
      }
      @media (max-width: 450px) {
        margin-bottom: 30px;
      }
    }

    .projects__content {
      .projects__list {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        gap: 50px;

        .project {
          max-width: 350px;

          .project__body {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-direction: column;
            gap: 20px;

            .project__deploy {
              display: flex;
              justify-content: space-between;
              align-items: center;
              flex-direction: column;
              gap: 30px;

              .project__title {
                font-size: 2.5rem;
                color: var(--main-color-one);
                text-shadow: 1px 1px 2px var(--main-color-three);
              }
              .project__screenshot {
                border-radius: 10px;
                overflow: hidden;
                position: relative;

                img {
                  max-width: 100%;
                  border-radius: 10px;
                  transition: all 1s ease-out;

                  &:hover {
                    transform: scale(1.1);
                  }
                }
              }
            }
            .project__gitHub {
              font-size: 2rem;
              color: var(--main-color-one);
              text-shadow: 1px 1px 2px var(--main-color-three);
            }
            .project__description-button {
              font-size: 1.2rem;
              color: var(--main-color-one);
              text-shadow: 1px 1px 2px var(--main-color-three);
              border: 1px dashed var(--main-color-one);
              border-radius: 20px;
              padding: 2px 7px;
              background-color: inherit;
              cursor: pointer;

              &:hover {
                border: 1px solid var(--main-color-one);
                background-color: var(--main-color-two_opacity);
              }
              &:active {
                transform: scale(.95);
              }
            }
          }
        }
      }
    }
  }
}
