.footer {
  padding: 10% 0 0;
  overflow: hidden;

  .footer__container {
    padding: 20px 0 30px;
    background-color: var(--main-color-two);

    @media (max-width: 700px) {
      padding: 10px 0 20px;
    }
    @media (max-width: 550px) {
      padding: 10px 0;
    }

    .footer__list {
      display: flex;
      justify-content: space-around;
      align-items: center;

      @media (max-width: 550px) {
        flex-wrap: wrap;
      }

      .footer__item {
        .item__link {
          display: flex;
          justify-content: space-between;
          align-content: center;
          flex-direction: column;
          gap: 20px;

          &:hover {
            .item__title {
              opacity: 1;
              transform: translateY(0);
            }

            .item__icon {
              box-shadow: 0px 0px 20px white;
              background-color: var(--base-color-bg);
              border-radius: 10%;
              transform: scale(1.1);
            }
          }

          .item__title {
            transform: translateY(-300px);
            font-size: 1.5rem;
            letter-spacing: 2px;
            color: var(--main-color-four);
            text-shadow: 1px 1px 2px var(--main-color-five), 0 0 5px var(--main-color-six);
            opacity: 0;
            transition: all 1s;

            @media (max-width: 700px) {
              font-size: 1rem;
            }
            @media (max-width: 550px) {
              display: none;
            }
          }
          .item__icon {
            margin: 0 auto;
            transition: all 1s;

            @media (max-width: 1050px) {
              width: 50px;
            }
            @media (max-width: 700px) {
              width: 40px;
            }
            @media (max-width: 400px) {
              width: 35px;
            }

            img {
              max-width: 100%;
            }           
          }
        }
      }
    }
  }
}
