.about {
  padding: 20% 20px 10%;

  .about__container {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .about__describe {
      .about__title {
        text-transform: uppercase;
        font-size: 3.5rem;
        letter-spacing: 5px;
        color: var(--title);
        text-shadow: 1px 1px 2px var(--main-color-five), 0 0 5px var(--main-color-six);

        @media (max-width: 500px) { 
          font-size: 2.5rem;
        }
        @media (max-width: 400px) { 
          font-size: 1.7rem;
        }
      }
      .about__text {
        font-size: 1.5rem;
        text-shadow: 1px 1px 2px var(--main-color-two);

        @media (max-width: 500px) { 
          font-size: 1.3rem;
        }
        @media (max-width: 400px) { 
          font-size: 1.2rem;
        }
      }
      .about__download-CV {
        font-size: 2rem;
        padding: 5px 10px;
        color: var(--main-color-one);
        background-color: var(--main-color-two);
        border: none;
        border-radius: 10px;
        cursor: pointer;
        transition: all .5s;

        @media (max-width: 400px) { 
          font-size: 1.5rem;
        }
      }
      .about__download-CV:hover {
        background-color: var(--main-color-two_hover);
      }
      .about__download-CV:active {
        transform: scale(.95);
      }
      .about__download-CV:focus {
        outline: none;
      }

      :not(:last-child) {
        margin-bottom: 50px;
      }

      // @media (max-width: 450px) {
      //   .about__title {
      //     font-size: 2.7rem;
      //   }
      // }
    }

    .about__image {  
      max-width: 70%;
      margin-right: 20%;
      position: relative;
      z-index: 1;

      img {
        max-width: 100%;
        border-radius: 10% 10% 30% 30%;
      }
      &::after {
        content: '';
        position: absolute;
        top: -25%;
        left: 25%;
        width: 90%;
        height: 100%;;
        background-color: var(--main-color-one_opacity);
        box-shadow: 5px 5px 5px var(--main-color-one), 5px 5px 5px var(--main-color-one) inset;
        z-index: -1;
        border-radius: 10% 50% 50% 10%;
      }
      &::before {
        content: '';
        position: absolute;
        top: 25%;
        left: 65%;
        width: 90%;
        height: 100%;
        background-color: var(--main-color-two_opacity);
        box-shadow: 5px 5px 5px var(--main-color-two), 5px 5px 5px var(--main-color-two) inset;
        z-index: -1;
        border-radius: 10% 50% 50% 10%;
      }
    }

    @media (max-width: 1024px) {
      margin-right: 10%;
      flex-direction: column-reverse;

      .about__image {
        max-width: 70%;
        margin-bottom: 50px;
      }
    }
  }
}
