@import "../../styles/variables.module.scss";

.about {
  padding: 20% 20px 10%;

  .about__container {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .about__describe {
      .about__title {
        font-size: 3.5rem;
        letter-spacing: 5px;
        color: $base-color-light;
        text-shadow: 1px 1px 2px red, 0 0 0.2em blue;
      }
      .about__text {
        font-size: 1.5rem;
        text-shadow: 1px 1px 2px $main-color-two;
      }
      .about__download-CV {
        font-size: 2rem;
        padding: 5px 10px;
        color: $main-color-one;
        background-color: $main-color-two;
        border: none;
        border-radius: 10px;
        cursor: pointer;
      }
      .about__download-CV:hover {
        background-color: $main-color-two_hover;
      }
      .about__download-CV:focus {
        outline: none;
      }

      :not(:last-child) {
        margin-bottom: 50px;
      }

      @media (max-width: 450px) {
        .about__title {
          font-size: 2.7rem;
        }
      }
    }

    .about__image {  
      max-width: 70%;
      margin-right: 20%;
      position: relative;

      img {
        max-width: 100%;
        border-radius: 10% 10% 30% 30%;
      }
      &::after {
        content: '';
        position: absolute;
        top: -25%;
        left: 25%;
        width: 90%;
        height: 100%;;
        background-color: $main-color-one_opacity;
        box-shadow: 5px 5px 5px $main-color-one, 5px 5px 5px $main-color-one inset;
        z-index: -1;
        border-radius: 10% 50% 50% 10%;
      }
      &::before {
        content: '';
        position: absolute;
        top: 25%;
        left: 65%;
        width: 90%;
        height: 100%;
        background-color: $main-color-two_opacity;
        box-shadow: 5px 5px 5px $main-color-two, 5px 5px 5px $main-color-two inset;
        z-index: -1;
        border-radius: 10% 50% 50% 10%;
      }
    }

    @media (max-width: 1024px) {
      margin-right: 10%;
      flex-direction: column-reverse;

      .about__image {
        max-width: 70%;
        margin-bottom: 50px;
      }
    }
  }
}
