.about {
  padding: 10% 20px 10%;

  .about__container {
    position: relative;

    .about__title-container {
      .about__title {
        text-transform: uppercase;
        font-size: 6rem;
        letter-spacing: 50px;
        text-align: center;
        text-shadow: 1px 1px 2px black;

        @media (max-width: 1300px) { 
          font-size: 5.5rem;
        }
        @media (max-width: 1150px) { 
          font-size: 4.5rem;
          letter-spacing: 45px;
        }
        @media (max-width: 1000px) { 
          font-size: 3.5rem;
          letter-spacing: 40px;
        }
        @media (max-width: 900px) { 
          letter-spacing: 30px;
        }
        @media (max-width: 750px) { 
          font-size: 2.5rem;
        }
        @media (max-width: 650px) { 
          letter-spacing: 20px;
        }
        @media (max-width: 550px) { 
          font-size: 1.8rem;
        }
        @media (max-width: 450px) { 
          letter-spacing: 10px;
        }
        @media (max-width: 350px) { 
          font-size: 1.6rem;
          letter-spacing: 5px;
        }

        span {
          opacity: 0;
        }

        &:nth-child(1) {
          color: transparent;
          -webkit-text-stroke: .1px var(--main-color-one);
        }

        &:nth-child(2) {
          transform: translateY(-100%);
          color: var(--main-color-one);
          animation: portfolioWater 4s ease-in-out infinite;
        }
        :nth-child(1) {
          display: inline-block;
          animation: portfolio 1s forwards;    
        }
        :nth-child(2) {
          display: inline-block;
          animation: portfolio 1s .25s forwards;
        } 
        :nth-child(3) {
          display: inline-block;
          animation: portfolio 1s .5s forwards;      
        }  
        :nth-child(4) {
          display: inline-block;
          animation: portfolio 1s .75s forwards;
        }
        :nth-child(5) {
          display: inline-block;
          animation: portfolio 1s 1s forwards;    
        }
        :nth-child(6) {
          display: inline-block;
          animation: portfolio 1s 1.25s forwards;
        }
        :nth-child(7) {
          display: inline-block;
          animation: portfolio 1s 1.5s forwards;      
        }
        :nth-child(8) {
          display: inline-block;
          animation: portfolio 1s 1.75s forwards;
        }
        :nth-child(9) {
          display: inline-block;
          animation: portfolio 1s 2s forwards;    
        }
      }     
    }
    
    .about__content {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-top: 100px;

      .about__describe {
        .about__name {
          text-transform: uppercase;
          font-size: 3.5rem;
          letter-spacing: 5px;
          color: var(--title);
          text-shadow: 1px 1px 2px var(--main-color-five), 0 0 5px var(--main-color-six);
  
          @media (max-width: 500px) { 
            font-size: 2.5rem;
          }
          @media (max-width: 400px) { 
            font-size: 1.7rem;
          }
        }
        .about__text {
          font-size: 1.5rem;
          text-shadow: 1px 1px 2px var(--main-color-two);
  
          @media (max-width: 500px) { 
            font-size: 1.3rem;
          }
          @media (max-width: 400px) { 
            font-size: 1.2rem;
          }
        }
        .about__download-CV {
          font-size: 2rem;
          padding: 5px 10px;
          color: var(--main-color-one);
          background-color: var(--main-color-two);
          border: none;
          border-radius: 10px;
          cursor: pointer;
          transition: all .5s;
  
          @media (max-width: 400px) { 
            font-size: 1.5rem;
          }
        }
        .about__download-CV:hover {
          background-color: var(--main-color-two_hover);
        }
        .about__download-CV:active {
          transform: scale(.95);
        }
        .about__download-CV:focus {
          outline: none;
        }
  
        :not(:last-child) {
          margin-bottom: 50px;
        }
      }
  
      .about__image {  
        max-width: 70%;
        margin-right: 21%;
        position: relative;
        z-index: 1;
  
        img {
          max-width: 100%;
          border-radius: 10% 10% 30% 30%;
        }
        &::after {
          content: '';
          position: absolute;
          top: -25%;
          left: 25%;
          width: 90%;
          height: 100%;;
          background-color: var(--main-color-one_opacity);
          box-shadow: 5px 5px 5px var(--main-color-one), 5px 5px 5px var(--main-color-one) inset;
          z-index: -1;
          border-radius: 10% 50% 50% 10%;
        }
        &::before {
          content: '';
          position: absolute;
          top: 25%;
          left: 65%;
          width: 90%;
          height: 100%;
          background-color: var(--main-color-two_opacity);
          box-shadow: 5px 5px 5px var(--main-color-two), 5px 5px 5px var(--main-color-two) inset;
          z-index: -1;
          border-radius: 10% 50% 50% 10%;
        }
      }

      @media (max-width: 1024px) {
        margin-right: 10%;
        flex-direction: column-reverse;
  
        .about__image {
          max-width: 70%;
          margin-bottom: 50px;
        }
      }
    }
  }
}

@keyframes portfolio {
  0% {
    opacity: 0;
    transform: rotateY(90deg) translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: rotateY(0deg) translateY(0);
  }
}
@keyframes portfolioWater {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}
