@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Text&display=swap');

.App {
  color: var(--base-color);
  background: linear-gradient(90deg, var(--base-color-bg) 0%, var(--main-color-seven) 100%);
}

._container {
  max-width: 1200px;
  margin: 0 auto; 
}
