@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');

.App {
  color: var(--base-color);
  background-color: var( --base-color-bg);
}

._container {
  max-width: 1200px;
  margin: 0 auto; 
}
