@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

.App {
  font-family: 'Marck Script', cursive;
  // background-color: rgb(216, 208, 208);
}

._container {
  max-width: 1200px;
  margin: 0 auto; 
}
